/* alerts.css */

/* Styles for the Alerts component */
.alerts-component {
    display: flex;
  }
  
  .alerts-component .tables-starts {
  padding: 20px;
  background-color: #f9f9f900;
  border-radius: none;
  box-shadow: none;
  margin-left: 230px; /* Adjusted for the sidebar width */
  width: calc(100% - 230px); /* Adjusted for the sidebar width */
  height: calc(100vh - 40px); /* Adjust for top/bottom padding/margin */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Hide overflow to prevent horizontal scrolling */
  }
  
  .alerts-component .my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    color: #fff;
  }
  .transaction-hash {
    word-break: break-all; /* Break words at any character to prevent overflow */
  }
  .alerts-component .table-wrapper {
    overflow-y: auto; /* Allow vertical scrolling */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    overflow-x: auto; /* Allow horizontal scrolling */
  }
  
  .alerts-component .table-wrapper table {
    width: 100%; /* Make table width 100% */
    table-layout: auto; /* Auto table layout */
  }
  
  .alerts-component .table-wrapper table th,
  .alerts-component .table-wrapper table td {
    word-wrap: break-word; /* Break long words */
  }
  
  .alerts-component .table-wrapper .single-alert {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 3px solid  #A0C49D;
    background-color: #f1f1f100;
    border-radius: 4px;
  }
  
  .alerts-component .table-wrapper .btn {
    margin: 5px;
    width: 100px;
    display: inline-block;
  }
  
  .alerts-component .table-wrapper .btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
  }
  
  .alerts-component .table-wrapper .btn-success:hover {
    background-color: #218838;
  }
  .pagination-nav {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: none;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    display: block;
    padding: 8px 12px;
    color: #000000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
/* Hide scrollbar for Chrome, Safari and Opera */
.table-wrapper::-webkit-scrollbar {
  display: none;
}

