/* General body styling */
body {
  background-image: url('image.png'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

/* Header */
.header {
  background-color: #1e354ed3;
  color: #f9f9f9;
  padding: 20px 10px;
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .title {
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
}

.header .logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 150px;
  height: auto;
}

.header .logo img {
  height: 60px;
}

/* Login form */
.login-page-main {
  width: 350px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #1e354eb0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  overflow: hidden; /* To ensure input fields don’t exceed the container */
}

.login-page-main h2 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #faf0f0;
  font-family: monospace;
}

/* Input container */
.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container input {
  width: calc(100% - 40px); /* Subtract space for icon and separator */
  padding: 10px 10px 10px 40px; /* Extra left padding for icon */
  border: 1px solid #cccccc00;
  border-radius: 2px;
  background-color: #c6dbe1ec;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: monospace;
  font-size: large;
  color: #000000;
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Positioning the icon inside the input */
.input-container .input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #333;
}

/* Separator (vertical line) */
.separator {
  position: absolute;
  top: 50%;
  left: 35px; /* Positioned just after the icon */
  transform: translateY(-50%);
  width: 1px;
  height: 30px;
  background-color: #333;
}

/* Show password container */
.show-password-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-family: monospace;
}

.show-password-container input {
  margin-right: 10px;
}

.show-password-container label {
  color: #faf0f0;
  font-size: large;
}

/* Button styling */
.login-page-main button {
  width: 100%;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 25px;
  font-weight: bold;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: monospace;
  font-size: x-large;
  padding: 15px;
}

.login-page-main button:hover {
  background-color: #218838;
}

/* Error message */
.login-page-main .error-message {
  color: rgb(255, 0, 0);
  margin-top: 15px;
  font-family: monospace;
  font-size: larger;
}
/* Styling for reCAPTCHA */
.recaptcha-container {
  margin-top :20px;
  display: flex;
  justify-content: center;
}
