.dashboard {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  z-index: 1;
  position: relative; /* Ensures stacking context relative to other elements */
  margin-top: 20px; /* Adds space below the banner to prevent overlap */
}

.dashboard h2 {
  margin-top: 10;
  color: #060606; /* Dark gray for better contrast */
  font-weight: bold; /* Optional: Emphasizes the header */
  font-size: 25px;
}

.course-boxes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.course-box {
  width: 150px;
  height: 200px;
  margin: 10px auto;
  padding: 15px;
  font-size: xx-large;
  border: 1px solid #cccccc00;
  border-radius: 5px;
  background-color: #0d2946b0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.course-box:hover {
  background-color: hsl(185, 31%, 36%);
}

.action-boxes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.box {
  width: 150px;
  height: 200px;
  margin: 10px auto;
  padding: 15px;
  font-size: xx-large;
  border: 1px solid #cccccc00;
  border-radius: 5px;
  background-color: #0d2946b0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.box:hover {
  background-color: hsl(185, 31%, 36%);
}

.logout-container {
  text-align: center;
  margin-top: 20px;
}

.logout-container button {
  padding: 10px 20px;
  font-size: large;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.logout-container button:hover {
  background-color: red;
  color: rgb(255, 255, 255);
}
